@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'blocks/promo' as *;
@use 'blocks/title' as *;
@use 'blocks/button' as *;
@use 'blocks/sidepanel' as *;
@use 'blocks/menu' as *;
@use 'blocks/about' as *;
@use 'blocks/resume' as *;
@use 'blocks/skills' as *;
@use 'blocks/portfolio' as *;
@use 'blocks/price' as *;
@use 'blocks/contacts' as *;
@use 'blocks/media' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@500;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}